<%- include('../layouts/adminHeader.ejs') %>

    <div class="container mt-3">
        <div class="row justify-content-center bg-light">
            <div class="col-lg-10 m-5">
                <p class="text-danger text-center" id="error"></p>
                <form class="row g-3 needs-validation" method="post" enctype="multipart/form-data"
                    onsubmit="validation(event)">
                    <div class="col-md-6">
                        <label for="heading" class="form-label">Heading</label>
                        <input type="text" class="form-control" id="heading" name="heading" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label for="subHeading" class="form-label">Sub Heading</label>
                        <input type="text" class="form-control" id="subHeading" name="subHeading" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label for="buttonText" class="form-label">Button Text</label>
                        <input type="text" class="form-control" id="text" name="buttonText" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label for="buttonText" class="form-label">Button Link</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">/</span>
                            <input type="text" class="form-control" aria-label="buttonLink"
                                aria-describedby="basic-addon1" id="link" name="buttonLink">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex">
                        <div class="form-check m-2">
                            <label class="form-check-label" for="enable">
                                Enable
                            </label>
                            <input class="form-check-input" type="radio" name="status" id="status" value="true" checked>
                        </div>
                        <div class="form-check m-2">
                            <label class="form-check-label" for="disable">
                                Disable
                            </label>
                            <input class="form-check-input" type="radio" name="status" id="status" value="false">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image Upload</label>
                        <input class="form-control" type="file" id="image" name="image">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../layouts/adminFooter.ejs') %>