</body>


<!--User Template Links-->
<!-- Theme JS -->
<!-- Vendor JS -->
<script src="/assets/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="/assets/js/theme.bundle.js"></script>
<!--/User Template Links-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="/edit/userChanges.js"></script>

</body>

</html>